<!-- app/views/lists/new.html.erb -->
<h1>New List</h1>

<%= form_with(model: @list, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
    <div class="invalid-feedback">
      Please provide a name.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :debut_episode, class: 'form-label' %>
    <%= form.text_field :debut_episode, class: 'form-control', required: true %>
    <div class="invalid-feedback">
      Please provide a debut episode.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :affiliation_id, class: 'form-label' %>
    <%= form.collection_select :affiliation_id, Affiliation.all, :id, :Affiliation, {}, { class: 'form-control', required: true } %>

    <div class="invalid-feedback">
      Please select an affiliation.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :nen_ability_ids, class: 'form-label' %>
    <%= form.collection_select :nen_ability_ids, @nen_abilities, :id, :AuraType, {}, { class: 'form-control', required: true } %>

    <div class="invalid-feedback">
      Please select nen abilities.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control', required: true %>
    <div class="invalid-feedback">
      Please upload an image.
    </div>
  </div>

  <div class="actions text-center">
    <%= form.submit 'Create List', class: 'btn btn-primary' %>
  </div>
<% end %>
